.header-login {
    background-color: var(--primary-colors);
    height: 72px;
}

.header-login .navbar {
    height: 72px;
}

.header-login .navbar-nav .nav-item {
    margin-right: 25px;
    /* jitna gap chahiye */
}


.header-login .navbar-nav .nav-item .nav-link {
    color: var(--color-white);
}

@media (max-width: 991px) {
    .header-login .navbar-nav .nav-item .nav-link {
        color: var(--primary-colors);
    }
}

.header-login .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header-login .navbar-nav .nav-item {
        margin-right: 10px;
    }
}

.header-login .navbar-nav>.nav-item>.nav-link:hover {
    color: var(--secondary-colors);
}

.header-login .navbar-nav>.nav-item>.nav-link.active {
    color: var(--secondary-colors);
}

/* Dropdown items hover color */
.header-login .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary-lights);
    color: var(--secondary-colors);
}

.header-login .navbar-toggler:focus {
    box-shadow: none;
    border: none;
}




.about-us-banner {
    background-image: url('../img/signup-bg.jpg');
    height: 400px;
    background-position: center;
}


.about-us-banner .about-us-form h2 {
    color: var(--color-white);

}


.about-us-form ul li a {
    color: var(--secondary-colors);
    font-size: 18px;
}


.contact-info .section-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-colors);

}

.contact-info .section-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 12px auto 30px;
    border-radius: 2px;
    color: var(--secondary-colors);
    background-color: var(--secondary-colors);
}

.contact-info .service-box {
    background-color: var(--primary-lights);
    border-radius: var(--border-radius-boxes);
    padding: 30px 20px;
    text-align: center;
    height: 100%;
}


.contact-info .service-box i {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: var(--secondary-colors);
}

.contact-info .service-box h5 {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 1.2rem;
    color: var(--primary-colors);

}

.contact-info .service-box p {
    font-size: 0.95rem;
}


.why-choose-us {
    background-color: var(--primary-lights);
}

.why-choose-us .section-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-colors);

}

.why-choose-us .section-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 12px auto 30px;
    border-radius: 2px;
    color: var(--secondary-colors);
    background-color: var(--secondary-colors);
}

.why-choose-us .highlight-box {
    background: var(--color-white);
    border-radius: 12px;
    padding: 25px 20px;
    text-align: center;
    height: 100%;

}

.why-choose-us .highlight-box i {
    font-size: 2rem;
    color: var(--secondary-colors);
    margin-bottom: 10px;
}

.why-choose-us .highlight-box h5 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--primary-colors);
}

.why-choose-us .highlight-box p {
    font-size: 0.95rem;

}

.why-choose-us .content-text {
    margin: auto;
    font-size: 1rem;
    line-height: 1.7;

}

.why-choose-us .content-text strong {
    color: var(--primary-colors);
}

/* footer sec start */
.footer-sec {
    background-color: var(--primary-colors);
}

.footer-sec .privacy-policy {
    background-color: var(--secondary-colors);
}

.footer-sec .footer-custom ul li i {
    color: var(--secondary-colors);
}

.footer-sec .footer-custom ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-sec .footer-custom ul a:hover {
    color: var(--secondary-colors) !important;
}

.footer-sec .footer-custom .social-icons li i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 102, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sec .play-button a img {
    width: 112px;
}

.footer-sec .play-button .bar-code {
    width: 110px;
}

.footer-sec .social-icons ul li {
    margin-left: 10px;
}

.footer-sec .social-icons ul li:first-child {
    margin-left: 0px;
}